---
###############################################
# Access Policy Creation
# Creates per-session policy with AD authentication
###############################################

- name: Create transaction for policy configuration
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/transaction"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    body_format: json
    body: {}
    status_code: [200, 201]
  delegate_to: localhost
  register: transaction_result

- name: Set transaction ID
  set_fact:
    trans_id: "{{ transaction_result.json.transId }}"

- name: Display transaction ID
  debug:
    msg: "Created transaction ID: {{ trans_id }}"

- name: Create baseline customization groups
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/customization-group"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_{{ item.type }}"
      partition: "Common"
      source: "/Common/{{ custom_type }}"
      type: "{{ item.api_type }}"
    status_code: [200, 201, 409]
  delegate_to: localhost
  loop:
    - { type: "logout", api_type: "logout" }
    - { type: "eps", api_type: "eps" }
    - { type: "errormap", api_type: "errormap" }
    - { type: "framework_installation", api_type: "framework-installation" }
    - { type: "general_ui", api_type: "general-ui" }
  loop_control:
    label: "{{ item.type }}"

# Deny Ending
- name: Create deny ending customization group
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/customization-group"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_end_deny_ag"
      partition: "Common"
      source: "/Common/{{ custom_type }}"
      type: "logout"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create deny ending agent
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/agent/ending-deny/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_end_deny_ag"
      partition: "Common"
      customizationGroup: "/Common/{{ vs1_name }}-psp_end_deny_ag"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create deny ending policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_end_deny"
      partition: "Common"
      caption: "Deny"
      color: 2
      itemType: "ending"
      agents:
        - name: "{{ vs1_name }}-psp_end_deny_ag"
          partition: "Common"
          type: "ending-deny"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Allow Ending
- name: Create allow ending agent
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/agent/ending-allow/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_end_allow_ag"
      partition: "Common"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create allow ending policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_end_allow"
      partition: "Common"
      caption: "Allow"
      color: 1
      itemType: "ending"
      agents:
        - name: "{{ vs1_name }}-psp_end_allow_ag"
          partition: "Common"
          type: "ending-allow"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Advanced Resource Assign
- name: Create advanced resource assign agent
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/agent/resource-assign"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_full_resource_assign_ag"
      partition: "Common"
      type: "general"
      rules:
        - networkAccessResources:
            - "/Common/{{ vs1_name }}-vpn"
          webtopSections:
            - "/Common/{{ vs1_name }}-network_access"
          webtop: "/Common/{{ vs1_name }}-webtop"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create advanced resource assign policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_full_resource_assign"
      partition: "Common"
      caption: "Advanced Resource Assign"
      color: 1
      itemType: "action"
      loop: "false"
      agents:
        - name: "{{ vs1_name }}-psp_act_full_resource_assign_ag"
          partition: "Common"
          type: "resource-assign"
      rules:
        - caption: "fallback"
          nextItem: "/Common/{{ vs1_name }}-psp_end_allow"
    status_code: [200, 201, 409]
  delegate_to: localhost

# AD Authentication
- name: Create AD authentication agent
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/agent/aaa-active-directory"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_active_directory_auth_ag"
      partition: "Common"
      server: "/Common/{{ vs1_name }}-ad-servers"
      authMaxLogonAttempt: "{{ apm_max_login_failures }}"
      type: "auth"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create AD authentication policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_active_directory_auth"
      partition: "Common"
      caption: "AD Auth"
      color: 1
      itemType: "action"
      loop: "false"
      agents:
        - name: "{{ vs1_name }}-psp_act_active_directory_auth_ag"
          partition: "Common"
          type: "aaa-active-directory"
      rules:
        - caption: "Successful"
          expression: "expr {[mcget {session.ad.last.authresult}] == 1}"
          nextItem: "/Common/{{ vs1_name }}-psp_act_full_resource_assign"
        - caption: "fallback"
          nextItem: "/Common/{{ vs1_name }}-psp_end_deny"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Logon Page
- name: Create logon page customization group
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/customization-group"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_logon_page_ag"
      partition: "Common"
      source: "/Common/{{ custom_type }}"
      type: "logon"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create logon page agent
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/agent/logon-page"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_logon_page_ag"
      partition: "Common"
      customizationGroup: "/Common/{{ vs1_name }}-psp_act_logon_page_ag"
      type: "form-based"
      sessVarName1: "username"
      sessVarName2: "password"
      postVarName1: "username"
      postVarName2: "password"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create logon page policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_logon_page"
      partition: "Common"
      caption: "Logon Page"
      color: 1
      itemType: "action"
      loop: "false"
      agents:
        - name: "{{ vs1_name }}-psp_act_logon_page_ag"
          partition: "Common"
          type: "logon-page"
      rules:
        - caption: "fallback"
          nextItem: "/Common/{{ vs1_name }}-psp_act_active_directory_auth"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Start Item
- name: Create start policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_ent"
      partition: "Common"
      caption: "Start"
      color: 1
      itemType: "entry"
      loop: "false"
      rules:
        - caption: "fallback"
          nextItem: "/Common/{{ vs1_name }}-psp_act_logon_page"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Create Policy
- name: Create access policy
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/access-policy/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp"
      partition: "Common"
      defaultEnding: "{{ vs1_name }}-psp_end_deny"
      startItem: "{{ vs1_name }}-psp_ent"
      type: "access-policy"
      items:
        - name: "{{ vs1_name }}-psp_ent"
          partition: "Common"
        - name: "{{ vs1_name }}-psp_act_logon_page"
          partition: "Common"
        - name: "{{ vs1_name }}-psp_act_active_directory_auth"
          partition: "Common"
        - name: "{{ vs1_name }}-psp_act_full_resource_assign"
          partition: "Common"
        - name: "{{ vs1_name }}-psp_end_allow"
          partition: "Common"
        - name: "{{ vs1_name }}-psp_end_deny"
          partition: "Common"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Create Profile
- name: Create access profile
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/profile/access/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp"
      partition: "Common"
      acceptLanguages:
        - "en"
      accessPolicy: "/Common/{{ vs1_name }}-psp"
      customizationGroup: "/Common/{{ vs1_name }}-psp_logout"
      epsCustomizationGroup: "/Common/{{ vs1_name }}-psp_eps"
      errorMapCustomizationGroup: "/Common/{{ vs1_name }}-psp_errormap"
      frameworkInstallationCustomizationGroup: "/Common/{{ vs1_name }}-psp_framework_installation"
      generalUiCustomizationGroup: "/Common/{{ vs1_name }}-psp_general_ui"
      logSettings:
        - "/Common/default-log-setting"
      type: "all"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Commit Transaction
- name: Commit transaction
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/transaction/{{ trans_id }}/"
    method: PUT
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    body_format: json
    body:
      state: "VALIDATING"
    status_code: [200, 409]
  delegate_to: localhost
  register: commit_result
  ignore_errors: yes

- name: Display commit result
  debug:
    msg: "{{ 'Transaction committed successfully' if commit_result.status == 200 else 'Objects already exist (idempotent run)' }}"
  when: commit_result.status in [200, 409]

# Apply Policy
- name: Apply access policy (increment generation)
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/profile/access/~Common~{{ vs1_name }}-psp"
    method: PATCH
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    body_format: json
    body:
      generationAction: "increment"
    status_code: [200, 404]
  delegate_to: localhost
  register: apply_result
  ignore_errors: yes

- name: Display policy apply result
  debug:
    msg: "{{ 'Access policy applied successfully' if apply_result.status == 200 else 'Policy generation skipped (profile may not exist yet)' }}"
  when: apply_result.status in [200, 404]

- name: Wait for policy compilation
  pause:
    seconds: 10
    prompt: "Waiting for policy compilation to complete..."
