---
###############################################
# Access Policy Creation for Solution 2
# Per-session policy with AD group-based resource assignment
###############################################

- name: Create transaction for policy configuration
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/transaction"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    body_format: json
    body: {}
    status_code: [200, 201]
  delegate_to: localhost
  register: transaction_result

- name: Set transaction ID
  set_fact:
    trans_id: "{{ transaction_result.json.transId }}"

- name: Display transaction ID
  debug:
    msg: "Created transaction ID: {{ trans_id }}"

- name: Create baseline customization groups
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/customization-group"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_{{ item.type }}"
      partition: "Common"
      source: "/Common/{{ item.source }}"
      type: "{{ item.api_type }}"
    status_code: [200, 201, 409]
  delegate_to: localhost
  loop:
    - { type: "logout", source: "logout", api_type: "logout" }
    - { type: "eps", source: "eps", api_type: "eps" }
    - { type: "errormap", source: "errormap", api_type: "errormap" }
    - { type: "framework_installation", source: "framework-installation", api_type: "framework-installation" }
    - { type: "general_ui", source: "general-ui", api_type: "general-ui" }
  loop_control:
    label: "{{ item.type }}"

# Deny Ending
- name: Create deny ending customization group
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/customization-group"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_end_deny_ag"
      partition: "Common"
      source: "/Common/ending-deny_{{ custom_type }}"
      type: "agent-ending-deny"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create deny ending agent
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/agent/ending-deny/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_end_deny_ag"
      partition: "Common"
      customizationGroup: "/Common/{{ vs1_name }}-psp_end_deny_ag"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create deny ending policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_end_deny"
      partition: "Common"
      caption: "Deny"
      agents:
        - "/Common/{{ vs1_name }}-psp_end_deny_ag"
      type: "ending-deny"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Allow Ending
- name: Create allow ending agent
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/agent/ending-allow/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_end_allow_ag"
      partition: "Common"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create allow ending policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_end_allow"
      partition: "Common"
      caption: "Allow"
      agents:
        - "/Common/{{ vs1_name }}-psp_end_allow_ag"
      type: "ending-allow"
    status_code: [200, 201, 409]
  delegate_to: localhost

# AD Group Mapping (Resource Assignment based on AD groups)
- name: Build AD group mapping resource list
  set_fact:
    ad_group_resources: "{{ ad_group_mappings | default([]) }}"

- name: Create AD group mapping agent
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/agent/resource-assign"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_ad_group_mapping_ag"
      partition: "Common"
      type: "resource-assign"
      advancedResourceAssign: "{{ ad_group_resources }}"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create AD group mapping policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_ad_group_mapping"
      partition: "Common"
      caption: "AD Group Mapping"
      agents:
        - "/Common/{{ vs1_name }}-psp_act_ad_group_mapping_ag"
      rules:
        - caption: "fallback"
          expression: "expr {1}"
          nextItem: "/Common/{{ vs1_name }}-psp_end_allow"
      type: "action"
    status_code: [200, 201, 409]
  delegate_to: localhost

# AD Query
- name: Create AD query agent
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/agent/aaa-active-directory"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_active_directory_query_ag"
      partition: "Common"
      authServer: "/Common/{{ vs1_name }}-ad-servers"
      type: "aaa-active-directory"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create AD query policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_active_directory_query"
      partition: "Common"
      caption: "AD Query"
      agents:
        - "/Common/{{ vs1_name }}-psp_act_active_directory_query_ag"
      rules:
        - caption: "Successful"
          expression: "expr {[mcget {session.ad.last.authresult}] == 1}"
          nextItem: "/Common/{{ vs1_name }}-psp_act_ad_group_mapping"
        - caption: "fallback"
          expression: "expr {1}"
          nextItem: "/Common/{{ vs1_name }}-psp_end_deny"
      type: "action"
    status_code: [200, 201, 409]
  delegate_to: localhost

# AD Authentication
- name: Create AD authentication agent
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/agent/aaa-active-directory"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_active_directory_auth_ag"
      partition: "Common"
      authServer: "/Common/{{ vs1_name }}-ad-servers"
      allowUserChangePwd: "false"
      allowUserPwdExpiredChange: "false"
      maxLogonAttempts: "{{ apm_max_login_failures }}"
      type: "aaa-active-directory"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create AD authentication policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_active_directory_auth"
      partition: "Common"
      caption: "AD Auth"
      agents:
        - "/Common/{{ vs1_name }}-psp_act_active_directory_auth_ag"
      rules:
        - caption: "Successful"
          expression: "expr {[mcget {session.ad.last.authresult}] == 1}"
          nextItem: "/Common/{{ vs1_name }}-psp_act_active_directory_query"
        - caption: "fallback"
          expression: "expr {1}"
          nextItem: "/Common/{{ vs1_name }}-psp_end_deny"
      type: "action"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Logon Page
- name: Create logon page customization group
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/customization-group"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_logon_page_ag"
      partition: "Common"
      source: "/Common/logon-page_{{ custom_type }}"
      type: "agent-logon-page"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create logon page agent
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/agent/logon-page"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_logon_page_ag"
      partition: "Common"
      customizationGroup: "/Common/{{ vs1_name }}-psp_act_logon_page_ag"
      type: "agent-logon-page"
      fields:
        - name: "username"
          type: "text"
        - name: "password"
          type: "password"
    status_code: [200, 201, 409]
  delegate_to: localhost

- name: Create logon page policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_act_logon_page"
      partition: "Common"
      caption: "Logon Page"
      agents:
        - "/Common/{{ vs1_name }}-psp_act_logon_page_ag"
      rules:
        - caption: "fallback"
          expression: "expr {1}"
          nextItem: "/Common/{{ vs1_name }}-psp_act_active_directory_auth"
      type: "action"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Start Item
- name: Create start policy item
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/policy-item/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp_ent"
      partition: "Common"
      caption: "Start"
      rules:
        - caption: "fallback"
          expression: "expr {1}"
          nextItem: "/Common/{{ vs1_name }}-psp_act_logon_page"
      type: "start"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Create Policy
- name: Create access policy
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/access-policy/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp"
      partition: "Common"
      defaultEnding: "{{ vs1_name }}-psp_end_deny"
      items:
        - "/Common/{{ vs1_name }}-psp_ent"
        - "/Common/{{ vs1_name }}-psp_act_logon_page"
        - "/Common/{{ vs1_name }}-psp_act_active_directory_auth"
        - "/Common/{{ vs1_name }}-psp_act_active_directory_query"
        - "/Common/{{ vs1_name }}-psp_act_ad_group_mapping"
        - "/Common/{{ vs1_name }}-psp_end_allow"
        - "/Common/{{ vs1_name }}-psp_end_deny"
      startItem: "/Common/{{ vs1_name }}-psp_ent"
      type: "access"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Create Profile
- name: Create access profile
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/profile/access/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    headers:
      X-F5-REST-Coordination-Id: "{{ trans_id }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-psp"
      partition: "Common"
      acceptLanguages:
        - "en"
      accessPolicy: "/Common/{{ vs1_name }}-psp"
      customizationGroup: "/Common/{{ vs1_name }}-psp_logout"
      epsCustomizationGroup: "/Common/{{ vs1_name }}-psp_eps"
      errorMapCustomizationGroup: "/Common/{{ vs1_name }}-psp_errormap"
      frameworkInstallationCustomizationGroup: "/Common/{{ vs1_name }}-psp_framework_installation"
      generalUiCustomizationGroup: "/Common/{{ vs1_name }}-psp_general_ui"
      logSettings:
        - "/Common/default-log-setting"
      type: "all"
    status_code: [200, 201, 409]
  delegate_to: localhost

# Commit Transaction
- name: Commit transaction
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/transaction/{{ trans_id }}/"
    method: PUT
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    body_format: json
    body:
      state: "VALIDATING"
    status_code: [200]
  delegate_to: localhost
  register: commit_result

- name: Display commit result
  debug:
    msg: "Transaction {{ trans_id }} committed successfully"

# Apply Policy
- name: Apply access policy (increment generation)
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/profile/access/~Common~{{ vs1_name }}-psp"
    method: PATCH
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    body_format: json
    body:
      generationAction: "increment"
    status_code: [200]
  delegate_to: localhost
  register: apply_result

- name: Display policy apply result
  debug:
    msg: "Access policy {{ vs1_name }}-psp applied successfully"

- name: Wait for policy compilation
  pause:
    seconds: 10
    prompt: "Waiting for policy compilation to complete..."
