---
###############################################
# Webtop Configuration
###############################################

- name: Create webtop section customization group
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/policy/customization-group/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-network_access_resource_webtop_section_customization"
      partition: "Common"
      type: "resource-webtop-section"
      source: "/Common/standard"
    status_code: [200, 201, 409]
  delegate_to: localhost
  register: webtop_section_custom_result
  when: create_webtop | bool

- name: Display webtop section customization result
  debug:
    msg: "Webtop section customization group - {{ 'created' if webtop_section_custom_result.status == 200 or webtop_section_custom_result.status == 201 else 'already exists' }}"
  when: create_webtop | bool

- name: Set display order
  set_fact:
    next_display_order: 1
  when: create_webtop | bool

- name: Create webtop section
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/resource/webtop-section/"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-network_access"
      partition: "Common"
      customizationGroup: "/Common/{{ vs1_name }}-network_access_resource_webtop_section_customization"
      displayOrder: "{{ next_display_order | int }}"
      initialState: "expanded"
      sortResources: "by-priority"
      resources:
        - name: "Item1"
          priority: 1
          resourceName: "/Common/{{ vs1_name }}-vpn"
          resourceType: "network-access"
    status_code: [200, 201, 409]
  delegate_to: localhost
  register: webtop_section_result
  when: create_webtop | bool

- name: Display webtop section result
  debug:
    msg: "Webtop section {{ vs1_name }}-network_access - {{ 'created' if webtop_section_result.status == 200 or webtop_section_result.status == 201 else 'already exists' }}"
  when: create_webtop | bool

- name: Create webtop
  uri:
    url: "https://{{ bigip_mgmt }}:{{ bigip_port }}/mgmt/tm/apm/resource/webtop"
    method: POST
    user: "{{ bigip_username }}"
    password: "{{ bigip_password }}"
    validate_certs: "{{ bigip_validate_certs }}"
    body_format: json
    body:
      name: "{{ vs1_name }}-webtop"
      partition: "Common"
      webtopType: "full"
      minimizeToTray: "true"
      showSearch: "false"
      warnWhenClosed: "true"
      showUrlEntryField: "false"
    status_code: [200, 201, 409]
  delegate_to: localhost
  register: webtop_result
  when: create_webtop | bool

- name: Display webtop result
  debug:
    msg: "Webtop {{ vs1_name }}-webtop - {{ 'created' if webtop_result.status == 200 or webtop_result.status == 201 else 'already exists' }}"
  when: create_webtop | bool
